/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

label {
    margin-bottom: 0.5rem;
}

input, button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #032141;
}

#room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.room {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    width: calc(33% - 2rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.room img {
    max-width: 100%;
    border-radius: 5px;
}

.hidden {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #room-list {
        flex-direction: column;
    }

    .room {
        width: 100%;
    }
}
